<style>

#main { 
    position: fixed; 
    top: 40%; 
    right: 200px; 
 
 
.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: white;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}
 
   
}
</style>

<script>

document.addEventListener("DOMContentLoaded", () => {
  document.querySelector("#input").addEventListener("keydown", function(e) {
    /*** Listen only for enter key ***/

    if (e.code === "Enter") {
        let input = inputField.value;
        inputField.value = "";
        output(input);
    }
  });
});


function output(input) {
   // remove anything other than words, digits, and spaces
   let text = input.toLowerCase().replace( /[^\w\s\d]/gi, "");

  /*** TO-DO: Additional Text Clean Up Routines Here ***/

  /*** remove indefinite articles, unnecessary phrases, and standardize
       speech to avoid having to account for different cases of the 
       same phrases of speech ***/

  text = text.replace(/\s?a\s?/g, "")
             .replace(/whats/g, "what is")
             .replace(/\s?please\s?/g, "");
}

/*** This an array of arrays that contain possible trigger phrases from user input AND answers based on those triggers ***/
/*** utterances[0] will respond with answers[0] upon matching and so on 

const utterances = [
   ["how are you", "how is life", "how are things"] // 0
];

const answers = [
   ["Fine...how are you?", "Pretty well, how are you?", "Fantastic, how are you?"] // 0
];

/*** For any other user input ***/
const alternatives = [
   ["Go on..."]
];
</script>


<div id="main">
<div><input id="input" type="text" placeholder="Write something to Nurse Betty Bot..." autocomplete="off"  autofocus="true"/></div>
</div>
