<style>

#main { 
    position: fixed; 
    top: 40%; 
    right: 200px; 
 
 
.messages {
	display: flex;
	flex-direction: column;
	overflow: scroll;
	height: 90%;
	width: 100%;
	background-color: white;
	padding: 15px;
	margin: 15px;
	border-radius: 10px;
}
 
   
}
</style>

<script>

/***** Special thanks to Tariq Siddiqui of HTMLGoodies for this wonderfully written chatbot script.
       I learned a lot.  The original script can be found at
       https://www.htmlgoodies.com/javascript/basic-chatbot-in-javascript/ ***/

/*** This an array of arrays that contain possible trigger phrases from user input AND answers based on those triggers ***/
/*** utterances[0] will respond with answers[0] upon matching and so on 

const utterances = [
   ["how are you", "how is life", "how are things"] // 0
];

const answers = [
   ["Fine...how are you?", "Pretty well, how are you?", "Fantastic, how are you?"] // 0
];

/*** For any other user input ***/
const alternatives = [
   ["Go on..."]
];




document.addEventListener("DOMContentLoaded", () => {
  document.querySelector("#input").addEventListener("keydown", function(e) {
    /*** Listen only for enter key ***/

    const inputField = document.getElementById("input");


    if (e.code === "Enter") {
        let input = inputField.value;
        inputField.value = "";
        output(input);
    }
  });
});


function output(input) {
   // remove anything other than words, digits, and spaces
   let text = input.toLowerCase().replace( /[^\w\s\d]/gi, "");

  /*** TO-DO: Additional Text Clean Up Routines Here ***/

  /*** remove indefinite articles, unnecessary phrases, and standardize
       speech to avoid having to account for different cases of the 
       same phrases of speech ***/

  text = text.replace(/\s?a\s?/g, "")
             .replace(/whats/g, "what is")
             .replace(/\s?please\s?/g, "");

  let response;

  /**** if compare finds a matching utterance,
        get appropriate answer.  otherwise choose random one ****/

  if (compare(utterances, answers, text)) {
    response = compare(utterances, answers, text);
  }
  else {
    response = alternatives[Math.floor(Math.random() * alternatives.length)];
  }

  // update DOM
  addChatEntry(input, response);
  
}

function addChatEntry(input, response) {

   /**** Apppend user input to messages container first...
         Then the bot's response after a random delay ***/

   const messagesContainer = document.getElementById("messages");
   
   let userDiv = document.createElement("div");
   userDiv.id = "user";
   userDiv.className = "user response";
   userDiv.innerHTML = `${input}`;
   messagesContainer.appendChild(userDiv);

   let botDiv = document.createElement("div");
   let botText = document.createElement("span");
   botDiv.id = "bot";
   botDiv.className = "bot response";
   botText.innerText = "Typing...";
   botDiv.appendChild(botText);
   messagesContainer.appendChild(botDiv);


   setTimeout(() => { botText.innerText = `${response};` }, Math.random(2000, 6000)); // remember Math.random has inclusive, exclusive pattern. Will include 2000 up to 5999 milliseconds
}


/*** compare utterances array to answers array ***/
function compare(utterancesArray, answersArray, string) {
   let item;

   /*** Can this be re-written into one for loop if we could array sizes the same??? ***/
   /*** probably not.. the outerArray is traversed...and peeping into the innerArray?? **/

   for (let x = 0; x < utterancesArray.length; x++) {

     for (let y = 0; y < utterancesArray.length; y++) {

        // x is the outter utterances array that houses different phrases
        // y is the inner utterances array that groups similar phrases together

        if(utterancesArray[x][y] === string) {
           /*** when a matching utterance is found,
           pull the corresponding outter answers array.
           Then randomly choose one of similar or appropriate response
           from the inner answers array ***/
 
           items = answersArray[x];
           item = items[Math.floor(Math.random() * items.length)];

        }
     }
   }
   return item;
}
</script>


<div id="main">
<div><input id="input" type="text" placeholder="Write something to Nurse Betty Bot..." autocomplete="off"  autofocus="true"/></div>
</div>
